* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-logo {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #121317;
}

.nav-links {
  display: flex;
  gap: 40px;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links ul li {
  text-decoration: none;
}

.nav-links ul li a {
  padding: 10px 20px;
  border-radius: 999px;
  color: #45474d;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
}

.nav-links ul li a:hover {
  background-color: #f0f1f5;
  color: #121317;
}

/* Main */
section {
  padding: 80px 10%;
}

/* Hero Section */
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.main-text {
  font-family: "Inter", sans-serif;
  font-size: 3.75rem;
  font-weight: 800;
  letter-spacing: -1px;
  color: #121317;
}

.second-text {
  text-align: center;
  color: #45474d;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

.btn {
  background-color: #121317;
  color: #ffffff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 999px;
  transition: background-color 0.3s ease;
}

.project:hover {
  background-color: #2a2d33;
}

.contact {
  background-color: #f0f1f5;
  color: #121317;
}

.contact:hover {
  background-color: #e4e3ea;
}

/* About Section */
#about {
}

.about-layout {
  margin-top: 1rem;
}

.section-heading {
  color: #121317;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.section-text {
  color: #45474d;
}

.about-layout {
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
}

.section-heading {
  color: #121317;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.section-text {
  color: #45474d;
  margin-top: 1rem;
}

.container1 {
  max-width: 32rem;
  line-height: 1.6;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.card {
  padding: 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: default;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  border: 1px solid #e0e2e8;
}

.card:hover {
  transform: translateY(-2px);
}

.card:hover .icons {
  transform: scale(1.1);
  transition: transform 0.25s ease;
}

/* icon */
.icons {
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
  margin-top: 3px;
  color: #121317;
}

/* text wrapper */
.card-text {
  display: flex;
  flex-direction: column;
}

/* title */
.card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #121317;
  margin: 0;
  white-space: nowrap;
}

/* subtitle */
.card-subtitle {
  font-size: 0.875rem;
  color: #6b6e76;
  margin-top: 4px;
}
